	<!-- content page -->
	<section class="bgwhite p-t-66 p-b-38">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
        </div>
				<div class="col-md-8 p-b-30">
					<h3 class="m-text26 p-t-15 p-b-16">
						訂購流程及注意事項
					</h3>

          <p class="p-b-28">
            訂貨流程：
            顧客電話、網頁訂購下單→李媽媽確認訂購數量及出貨日期→顧客匯款→李媽媽確認款項金額→出貨。<br />

            運費說明：<br />
            ※不分溫層計算，訂單金額滿額2000元以上免運費。<br />
            ※若未滿，常溫將酌收運費170元、低溫將酌收運費270元。<br />
            （單筆訂單僅收取一次運費，以高價為計算。）<br />
            ※若貨到付款，除運費外再多收30元手續費。<br />

            注意事項：<br />
            ※目前還沒有貨到付款服務，所以請顧客先付款我們才有出貨唷！<br />
            ※若匯款後兩天沒接收到李媽媽確認，麻煩來電詢問唷!!<br />
          </p>

				</div>
			</div>
		</div>
	</section>
