	<!-- content page -->
	<section class="bgwhite p-t-66 p-b-38">
		<div class="container">
			<div class="row">
				<div class="col-md-4 p-b-30">
					<div class="hov-img-zoom">
					  <%= image_tag 'logo.jpg' %>
					</div>
				</div>

				<div class="col-md-8 p-b-30">
					<h3 class="m-text26 p-t-15 p-b-16">
						關於李媽媽青果社
					</h3>

          <p class="p-b-28">
            關於嘉東李媽媽青果社，
            這是由兩位農家子弟所共同創造的一個平台，
            以環保初心、草生栽培之方式種植水果。<br />
            除了銷售自家的水果之外，
            我們還找了一些在地的小農來配合，
            鄉下地方有許多辛苦的農民很會種植水果。<br />
            農民辛苦栽種，卻無行銷管道，缺乏行銷這一塊，
            導致辛苦一整年，付出與收穫卻不成比例，
            我們看到這樣的景像感到心痛難過; <br />
            所以我們就有一個想法，
            想辦法幫這些果農增加一些收入，
            嘉東李媽媽青果社目前經由行銷平台幫助農民宣傳在地農產品，
            所販售的產品，在包裝上則響應環保，盡量不過度包裝，
            把這些包裝的費用回饋農民與消費者。
            <br /><br />
            目前販售：<br />
            茂谷柑（產期1月-2月）<br />
            蔗香蜜棗（產期1月-3月）<br />
            紅肉火龍果（產期5月-10月）<br />
            斗六文旦（產期8月-9月）<br />
            帝王柑（產期11月-12月）<br />
            <br />
            <a target="_blank" href="http://www.facebook.com/leefruit640">嘉東李媽媽青果社粉絲團</a>
            <br />
            <a target="_blank" href="http://leefruit640.blogspot.tw">嘉東李媽媽青果社Blogger</a>
            <br />
          </p>

				</div>
			</div>
		</div>
	</section>
