<p>Hello <%= @resource.email %>!</p>
<p>我們收到您的重新設定密碼需求，請點選以下連結以重設您的會員密碼。</p>
<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>若您為發出此請求請直接忽略本通知</p>
<p>您的密碼將不會被更變，除非您點擊連擊後重新新設定新密碼</p>
<br />
<p>此電郵乃系統自動發出，請不要回覆。如果您有任何問題，請透過網站聯絡我們</p>
